/*----------------------------*/
/*ROOT*/
/*----------------------------*/
:root {
    --colorBody: #252525;
    --colorBodySec: #3a3a3a;
    --colorPrimary: #de0001;

    --colorButton:  #de0001;
    --colorButtonHover: #a50101;

    --colorTextPrimary: #ffffff;
    --colorTextSecondary: #000000;

    --colorScroll:  #de0001;
    --colorScrollBg: #1f1f1f;

    --colorHeader: #131212;
}

/*----------------------------*/
/*RESET*/
/*----------------------------*/
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
    font-family: "Lexend", sans-serif;
    font-style: normal;
}

/*----------------------------*/
/*BODY*/
/*----------------------------*/
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--colorBody);
}

/*----------------------------*/
/*LOADING SCREEN*/
/*----------------------------*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--colorBody);
    z-index: 9999 !important;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: var(--colorPrimary);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
    transform: rotate(0turn);
    }
    to {
    transform: rotate(1turn);
    }
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1f1f1f !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--colorPrimary) !important;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1f1f1f;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--colorPrimary) var(--colorScrollBg) !important;
}

/*----------------------------*/
/*NAVBAR*/
/*----------------------------*/
header {
    z-index: 999 !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
}

.navbar {
    z-index: 100 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#brand-logo {
    max-height: 28px;
}

.nav-item a {
    color: #ffffff;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
}

.nav-link.active {
    font-weight: bold;
    background-color: transparent !important;
    color: #de0001 !important;
}

.nav-link:hover {
    color: #a50101 !important;
}

.nav-link {
    text-align: center;
}

.nav-tabs button {
    color: var(--colorTextPrimary);
    text-decoration: none;
}

.tab-content {
    color: var(--colorTextPrimary);
}

/*----------------------------*/
/*MEDIA QUERIES*/
/*----------------------------*/
@media (min-width: 570px) and (max-width: 769px) {
    .motto {
        font-size: 9.5rem;
    }
}
@media (min-width: 460px) and (max-width: 569px) {
    .motto {
        font-size: 7.6rem;
        bottom: 26%;
    }
}
@media (min-width: 361px) and (max-width: 459px) {
    .motto {
        font-size: 7.6rem !important;
        bottom: 28% !important;
    }
}
@media (min-width: 1px) and (max-width: 360px) {
    .motto {
        font-size: 6.8rem !important;
        bottom: 28% !important;
    }
}

/*----------------------------*/
/*MAIN SECTION*/
/*----------------------------*/
.banner {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.container-parallax .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.motto {
    left: 0;
    bottom: 24%;
    position: absolute;
    text-transform: uppercase;
    rotate: -8deg;
    width: 100%;
    text-align: center;
    font-size: 12rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--colorTextPrimary);
    text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
}

.motto:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

#parallax {
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(/images/Burger/1-background\ parallax.webp);
    background-size: cover;
    background-position: center;
}

.container-parallax .bg-1 {
    background-image: url(/images/Burger/2-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-2 {
    background-image: url(/images/Burger/3-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-3 {
    background-image: url(/images/Burger/4-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-4 {
    background-image: url(/images/Burger/5-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-5 {
    background-image: url(/images/Burger/6-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-6 {
    background-image: url(/images/Burger/7-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-7 {
    background-image: url(/images/Burger/8-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-8 {
    background-image: url(/images/Burger/9-background\ parallax.webp);
    pointer-events: none;
}

.container-parallax .bg-9 {
    background-image: url(/images/Burger/9-background\ parallax.webp);
    pointer-events: none;
}

/*----------------------------*/
/*ABOUT SECTION*/
/*----------------------------*/
.intro {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBody);
}

.intro img {
    height: 40px;
}

.intro p {
    color: var(--colorTextPrimary);
    width: 700px;
    max-width: 100%;
    text-align: center;
}

.intro h2 {
    color: var(--colorTextPrimary);
}

.intro button {
    background-color: var(--colorPrimary);
    padding: 10px 50px;
    border: none;
    color: var(--colorTextPrimary);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.intro button:hover {
    background-color: var(--colorButtonHover);
    transition: 0.5s ease-in-out;
}


